<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>টিয়া আপা</title>
  <link rel="stylesheet" href="/static/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Google Fonts Link For Icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <!-- Animated GIF in the top-left -->
  <img src="static\images\Pink Pinwheel.gif" alt="Animated GIF" class="top-left-gif">
  <!-- Chats container -->
  <div class="chat-container" id="chat-container"></div>

  <!-- Typing container -->
  <div class="typing-container">
    <div class="typing-content">
      <!-- Upload button -->
      <form id="uploadForm" enctype="multipart/form-data">
        <!-- Updated input element with the correct ID -->
        <input type="file" id="upload-input" name="file" accept=".pdf" required>
        <span id="upload-btn" class="material-symbols-rounded">upload</span>
      </form>
      <!-- Text input and send button -->
      <div class="typing-textarea">
        <textarea id="chat-input" spellcheck="false" placeholder="দয়া করে আপনার সমস্যা লিখুন" required></textarea>
        <span id="send-btn" class="material-symbols-rounded">send</span>
      </div>
      <div class="typing-controls">
        <form id="imageForm" enctype="multipart/form-data">
          <input type="file" id="image-input" name="image" accept="image/*" style="display: none;" required>
          <span id="add-btn" class="material-symbols-rounded">add_photo_alternate</span>
        </form>
        <span id="delete-btn" class="material-symbols-rounded">delete</span>
      </div>
    </div>
  </div>

  <script src="/static/script.js" defer></script>
</body>
</html>
